@import "tailwindcss";

@theme {
  --breakpoint-a: 30rem;
}

/* Custom Scrollbar: Transparent Track */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(15 23 42);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(2 6 23 / 0.8);
  /* semi-transparent white */
  border-radius: 10px;
}